/* - - - CHAT FORM  - - - */

.chat-form {
  background: #fff;
  padding: 20px 30px;
  border-top: 0.3px solid black;
}

input[type="text"] {
  font-family: "Albert Sans", sans-serif;
  width: 85%;
  border: none;
  padding: 5px;
  font-size: 16px;
}

.submit-btn {
  padding: 10px 20px;
  border: none;
  background: #fff;
}

.submit-btn i {
  font-size: 25px;
  color: grey;
}

.submit-btn:hover {
  cursor: pointer;
}

.submit-btn:hover i {
  color: rgb(60, 60, 226);
}
